.wrapper {
  margin: 50px 0;
}

.inner-container {
  height: 1500px;
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

@media only screen and (max-width: 820px) {
  .inner-container {
    height: 2000px;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(30, 1fr);
  }
}

.fecenote-content {
  overflow: scroll;
  height: 600px;
}

/*menu */

.menu {
  background-color: rgb(221, 224, 222);
  grid-column: 1 / 7;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 820px) {
  .menu {
    background-color: rgb(221, 224, 222);
    grid-column: 1 / 5;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
  }
}

.menu-element-one {
  grid-column: 3 / 4;
}

.menu-element-two {
  grid-column: 4 / 5;
}

.menu-element-seven {
  grid-column: 5 / 6;
}

.menu-element-four {
  grid-column: 6 / 7;
}

.menu-fixed {
  background-color: rgb(13, 109, 253);
  grid-column: 1 / 7;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  color: rgb(32, 32, 32);
  opacity: .8;
}

.menu-element-one-fixed {
  grid-column: 4 / 5;
}

.menu-element-two-fixed {
  grid-column: 5 / 6;
}

.menu-element-seven-fixed {
  grid-column: 6 / 7;
}

.menu-element-four-fixed {
  grid-column: 7 / 8;
}

.blur {
  color: transparent;
  text-shadow: 0 0 8px #000;
}

/*end menu */

/*Avatart Start */

.avatar {
  grid-column: 1 / 1;
  grid-row: 2 / 6;
  display: grid;
  grid-template-rows: 70% 30%;
  align-items: center;
  justify-items: center;
}

@media only screen and (max-width: 820px) {
  .avatar {
    grid-column: 2 / 4;
    grid-row: 2 / 6;
    display: grid;
    grid-template-rows: 70% 30%;
    align-items: center;
    justify-items: center;
  }
}

.avatar-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.avatar-info-paragraph {
  font-size: .9rem;
}

.avatar-picture {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 4px solid rgb(221, 224, 222);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-picture-relative {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 4px solid rgb(219, 98, 235);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.edit-avatar-button {
  position: absolute;
  left: 117px;
  top: 112px; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(219, 98, 235);
  background-color: azure;
  cursor: pointer;
}

.edit-icon {
  font-size: 1.7rem;
  color: rgb(219, 98, 235);
}

.avatar-picture-inner-circle {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  background-color: rgb(221, 224, 222);
}

.avatar-picture-edit-button {
  position: relative;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(221, 224, 222);
  z-index: -1;
}

.section-two-avatar {
  border-radius: 10px;
  background-color: rgb(221, 224, 222);
  padding: 15px;
  grid-row: 4 / 6;
  grid-column: 2 / 4;
}

@media only screen and (max-width: 820px) {
  .section-two-avatar {
    border-radius: 10px;
    background-color: rgb(221, 224, 222);
    padding: 15px;
    grid-row: 8 / 14;
    grid-column: 1 / 2;
  }
}

.section-two-avatar-relative {
  border-radius: 10px;
  background-color: rgb(219, 98, 235);
  box-shadow: 15px 15px 15px #CCCCCC;
  padding: 15px;
  align-items: center;
  grid-row: 4 / 6;
  grid-column: 2 / 4;
  display: flex;
}
/* Avart End */

.description-paragraph {
  grid-row: 2 / 4;
  grid-column: 2 / 6;
  border-radius: 10px;
  background-color: rgb(221, 224, 222);
  padding: 15px;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 820px) {
  .description-paragraph {
    grid-row: 6 / 8;
    grid-column: 1 / 5;
    border-radius: 10px;
    background-color: rgb(221, 224, 222);
    padding: 15px;
    align-items: center;
    display: flex;
  }
}

.description-paragraph-text {
  font-size: .9rem;
  color: transparent;
  text-shadow: 0 0 8px #000;
}

.description-paragraph-fixed {
  grid-row: 2 / 4;
  grid-column: 2 / 6;
  border-radius: 10px;
  background-color: rgb(83, 148, 245);
  box-shadow: 15px 15px 15px #CCCCCC;
  padding: 15px;
  align-items: center;
  display: flex;
}

.description-paragraph-text-fixed {
  color: rgb(94, 92, 92);
}

.section-seven {
  grid-row: 9 / 12;
  grid-column: 2 / 4;
  border-radius: 10px;
  background-color: rgb(221, 224, 222);
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 820px) {
  .section-seven {
    grid-row: 20 / 26;
    grid-column: 2 / 4;
    border-radius: 10px;
    background-color: rgb(221, 224, 222);
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.section-seven-fake-image {
  width: 80%;
  height: 100%;
  background-color: aliceblue;
}

.section-four {
  grid-row: 4 / 7;
  grid-column: 4 / 6;
  border-radius: 10px;
  background-color: rgb(221, 224, 222);
  padding: 15px;
  display: flex;
}

@media only screen and (max-width: 820px) {
  .section-four {
    grid-row: 8 / 17;
    grid-column: 4 / 5;
    border-radius: 10px;
    background-color: rgb(221, 224, 222);
    padding: 15px;
    display: flex;
  }
}

.section-four-sticky-effect {
  border-radius: 10px;
  background-color: rgb(217, 243, 102);
  box-shadow: 15px 15px 15px #CCCCCC;
  padding: 15px;
  align-items: center;
  grid-row: 4 / 7;
  grid-column: 4 / 6;
  display: flex;
}

.section-five {
  grid-row: 7 / 15;
  grid-column: 4 / 6;
  gap: 15px;
  border-radius: 10px;
  background-color: rgb(221, 224, 222);
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

@media only screen and (max-width: 820px) {
  .section-five {
    /* grid-row: 14 / 19;
    grid-column: 1 / 2;
    gap: 15px;
    border-radius: 10px;
    background-color: rgb(221, 224, 222);
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center; */
    display: none;
  }
}

.square-image {
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

.section-six-sticky {
  grid-row: 2 / 4;
  grid-column: 6 / 7;
  border-radius: 10px;
  background-color: rgb(221, 224, 222);
  padding: 15px;
  display: flex;
}

@media only screen and (max-width: 820px) {
  .section-six-sticky {
    grid-row: 2 / 4;
    grid-column: 4 / 5;
    border-radius: 10px;
    background-color: rgb(221, 224, 222);
    padding: 15px;
    display: flex;
  }
}

.sticky-banner-wrapper {
  grid-row: 2 / 19;
  grid-column: 6 / 7;
  height: 100%;
}

.banner {
  font-size: 3rem;
}

.sticky-square-banner {
  grid-row: 3 / 6;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(217, 243, 102);
  width: 100%;
  height: 140px;
  position: sticky;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section Three  absolute affect*/

.section-three {
  grid-column: 2 / 4;
  grid-row: 6 / 9;
  border-radius: 10px;
  background-color: rgb(221, 224, 222);
  padding: 15px;
  display: flex;
}

@media only screen and (max-width: 820px) {
  .section-three {
    grid-column: 2 / 4;
    grid-row: 8 / 12;
    border-radius: 10px;
    background-color: rgb(221, 224, 222);
    padding: 15px;
    display: flex;
  }
}

.absolute-section {
  grid-column: 2 / 4;
  grid-row: 6 / 9;
  border-radius: 10px;
  background-color: rgb(128, 240, 165);
  padding: 15px;
  display: flex;
  align-items: center;
  box-shadow: 15px 15px 15px #CCCCCC;
}

.feedback {
  grid-column: 1 / 2;
  grid-row: 6 / 9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media only screen and (max-width: 820px) {
  .feedback {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.feedback-button {
  width: 40px;
  height: 110px;
  background-color: rgb(128, 240, 164);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px #CCCCCC;
  cursor: pointer;
}

.feedback-button-inactive {
  width: 40px;
  height: 110px;
  background-color: rgb(221, 224, 222);
  border: 1px solid #CCCCCC;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-button-text-inactive {
  font-weight: bold;
  transform: rotate(90deg);
  font-size: .9rem;
  margin: 10px
}

.feedback-button-text {
  color: aliceblue;
  font-weight: bold;
  transform: rotate(90deg);
  font-size: .9rem;
  margin: 10px;
}

/* Feedback end */

.section-nine {
  grid-column: 2 / 4;
  grid-row: 12 / 17;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 15px;
  display: flex;
}

.section-ten {
  grid-row: 17 / 19;
  grid-column: 2 / 4;
  border-radius: 10px;
  background-color: rgb(221, 224, 222);
  padding: 15px;
  display: flex;
}

@media only screen and (max-width: 820px) {
  .section-ten {
    grid-row: 17 / 20;
    grid-column: 2 / 4;
    border-radius: 10px;
    background-color: rgb(221, 224, 222);
    padding: 15px;
    display: flex;
  }
}

.section-eleven {
  grid-column: 4 / 6;
  grid-row: 15 / 19;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 15px;
  display: flex;
}

@media only screen and (max-width: 820px) {
  .section-eleven {
    grid-column: 4 / 5;
    grid-row: 17 / 26;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 15px;
    display: flex;
  }
}

.footer-section {
  grid-row: 19 / 21;
  grid-column: 1 / 7;
  border-radius: 10px;
  background-color: rgb(221, 224, 222);
  padding: 15px;
  display: flex;
}

@media only screen and (max-width: 820px) {
  .footer-section {
    grid-row: 26 / 31;
    grid-column: 1 / 5;
    border-radius: 10px;
    background-color: rgb(221, 224, 222);
    padding: 15px;
    display: flex;
  }
}