p, li {
  font-size: 1.5rem;
  color: #2d2c2c;
}

li { 
  color: #6d6c6c;
}

.code-on-paragraph {
  background-color: #6d6c6c;
  color: #e9f23e;
  padding: 5px 10px;
}

.element-name { 
  color: #e9f23e;
  margin-right: 20px;
}

.opening-curly-bracket {
  color: #f22424;
}
.closing-curly-bracket {
  color: #f22424;
}

.element-property {
  color: aquamarine;
  display: block;
}

.element-value {
  color: #e9f23e;
}