p, li {
  font-size: 1.3rem;
  color: #2d2c2c;
}

li { 
  color: #6d6c6c;
}

img {
  width: 30%;
}

.wrapper {
  margin-top: 50px;
}

.title {
  margin-bottom: 50px;
  text-transform: capitalize;
}

.example-text {
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase;
}

.code-on-paragraph {
  background-color: #6d6c6c;
  color: #e9f23e;
  padding: 5px 10px;
}

.element-name { 
  color: #e9f23e;
  margin-right: 20px;
  display: block;
}

.opening-curly-bracket {
  color: #f22424;
}
.closing-curly-bracket {
  color: #f22424;
}

.element-property {
  color: aquamarine;
  display: block;
  position: relative;
  left: 50px;
}

.element-value {
  color: #e9f23e;
}

img {
  width: 100%;
  margin: 50px 0;
}

.active-page {
  font-size: 1.4rem;
  border-bottom: 2px solid violet;
}